<div ng-init="menuOption='home';">
    <ul class="nav navbar-nav">
        <li><a ui-sref='home'
                ng-class="{'active': menuOption === 'home'}"
                ng-click="menuOption='home'">Home</a></li>
                
        <li><a ui-sref='aboutus' 
                ng-class="{'active': menuOption === 'aboutus'}"        
                ng-click="menuOption='aboutus'">About</a></li>

        <li><a ui-sref='crmSystemHome'
                ng-class="{'active': menuOption === 'crmSystemHome'}"        
                ng-click="menuOption='crmSystemHome'">CRM System</a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
    </ul>
</div>